<a href="https://colab.research.google.com/github/samikshyasanskruti/MachineLearning-Practice-with-Python/blob/main/1_Practical_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SAMIKSHYA SANSKRUTI SWAIN**

**REG NO.-2341019634**

# Example-1

***Q.***

Create the following dataframe.
Encode colour by Label Encoder method[Use LabelEncoder module from sklearn.preprocessing]
Encode colour by One Hot Encoder method[Use OneHotEncoder module from sklearn.preprocessing]

 **1. Create a DataFrame**

In [ ]:
import pandas as pd
data={'Colour':['Red',' Blue','  Green',' Blue','Red']}
df=pd.DataFrame(data,columns=["Colour"])
print(df)

    Colour
0      Red
1     Blue
2    Green
3     Blue
4      Red

***DESCRIPTION:***
Create a dataframe using pandas dataframe with "Colour" columns.

**2.Encode 'Colour' column by Label Encoder**

In [ ]:
from sklearn.preprocessing import LabelEncoder
# Label Encoding
le=LabelEncoder()
df['Colour_encoded']=le.fit_transform(df['Colour'])

print(df)

    Colour  Colour_encoded
0      Red               2
1     Blue               1
2    Green               0
3     Blue               1
4      Red               2

***DESCRIPTION:***
*  Label Encoding is a technique used to convert categorical data into numerical form. It assigns a unique integer to each unique category in a column.

For example, if you have a column with colors like 'Red', 'Blue', 'Green', Label Encoding might assign:

'Green' -> 0
'Blue' -> 1
'Red' -> 2

**3.Encode 'Colour' column by One Hot Encoder**

In [ ]:
from sklearn.preprocessing import OneHotEncoder
#One-Hot Encoding
ohe=OneHotEncoder(sparse_output=False)
encoded=ohe.fit_transform(df[['Colour']])

#Convert to DataFrame
encoded_df=pd.DataFrame(encoded,columns=ohe.get_feature_names_out(['Colour']))
print(encoded_df)

#Manual O/P
encoded_df=pd.DataFrame(encoded,columns=['Blue','Green','Red'])
print(encoded_df)

   Colour_  Green  Colour_ Blue  Colour_Red
0             0.0           0.0         1.0
1             0.0           1.0         0.0
2             1.0           0.0         0.0
3             0.0           1.0         0.0
4             0.0           0.0         1.0
   Blue  Green  Red
0   0.0    0.0  1.0
1   0.0    1.0  0.0
2   1.0    0.0  0.0
3   0.0    1.0  0.0
4   0.0    0.0  1.0

***DESCRIPTION:***

*   One-Hot Encoding creates new binary columns for each category in a categorical variable, indicating the presence or absence of that category with 1s and 0s

#Example-2

***Q.***

Generate an array[0,1,2,3,....,10].
Split this array by Kfold cross validation method with 5 fold,and in each iteration print train data and test data.
Do as like above by Stratified Kfold cross validation.

**1.Generate an array**

In [ ]:
import numpy as np
X=np.arange(11)
print(X)

[ 0  1  2  3  4  5  6  7  8  9 10]

***DESCRIPTION:***
*   It creates an array X with numbers from 0 to 10.

**2.Split data by K-Fold Cross Validation**

In [ ]:
from sklearn.model_selection import KFold
print("\n----KFold----")
kf=KFold(n_splits=5,shuffle=True,random_state=42)

for fold, (train,test) in enumerate(kf.split(X),1):
  print(f"Fold {fold}:")
  print(f"Train:",X[train])
  print(f"Test :",X[test])

----KFold----
Fold 1:
Train: [ 1  2  3  4  6  7  8 10]
Test : [0 5 9]
Fold 2:
Train: [0 1 3 4 5 6 7 8 9]
Test : [ 2 10]
Fold 3:
Train: [ 0  2  3  4  5  6  7  9 10]
Test : [1 8]
Fold 4:
Train: [ 0  1  2  3  5  6  8  9 10]
Test : [4 7]
Fold 5:
Train: [ 0  1  2  4  5  7  8  9 10]
Test : [3 6]

***DESCRIPTION:***


*   K-Fold cross-validation is a technique to evaluate a model's performance by splitting the dataset into k subsets (folds), training the model on k-1 folds and testing on the remaining fold, and repeating this process k times to average performance matrices

**3.Split data by Stratified K-Fold Cross Validation**

In [ ]:
from sklearn.model_selection import StratifiedKFold
# demonstration
#X = np.arange(11)
#y = np.array([0, 0, 1, 1, 0, 1, 0, 1, 0, 1,0]) # Dummy target variable
y= X % 2
print("\n----StratifiedKFold----")
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

for fold, (train, test) in enumerate(skf.split(X, y), 1):
    print(f"Fold {fold}:")
    print("Train:", train)
    print("Test:", test)

----StratifiedKFold----
Fold 1:
Train: [ 1  3  4  5  6  8  9 10]
Test: [0 2 7]
Fold 2:
Train: [ 0  1  2  4  5  7  8  9 10]
Test: [3 6]
Fold 3:
Train: [0 1 2 3 4 6 7 8 9]
Test: [ 5 10]
Fold 4:
Train: [ 0  2  3  4  5  6  7  9 10]
Test: [1 8]
Fold 5:
Train: [ 0  1  2  3  5  6  7  8 10]
Test: [4 9]

***DESCRIPTION:***


*  Stratified K-Fold cross-validation is a variation of K-Fold that ensures each fold has approximately the same proportion of observations with a given target variable as the entire dataset, which is particularly useful for imbalanced datasets.

# Example-3

***Q.***

Create the following dataframe.Create a new column with the following rule: "Child" if Age is less than 12."Teenage" if Age is between 12 & 18 ."Young Adult" if age is betwween 18 & 35 ."Adult" if age is between 35 & 60 and "Senior" if age is more than 60.

**1.Create a Dataframe**

In [ ]:
import pandas as pd
data={'Age':['5','12','17','25','36','45','59','62','75','85']}
df=pd.DataFrame(data,columns=["Age"])
print(df)

  Age
0   5
1  12
2  17
3  25
4  36
5  45
6  59
7  62
8  75
9  85

**2.Encode the age column to categorical data (by binning)**

In [ ]:
# Convert 'Age' column to numeric
df['Age'] = pd.to_numeric(df['Age'])

#Equal-Width Binning(Fixed Interval Binning)
df["EqualWidth_Bin"]=pd.cut(df["Age"],bins=5)

#Equal-Frequency Binning(Quantile Binning)
df["EqualFrequency_Bin"]=pd.qcut(df["Age"],q=5)

# Custom Binning(User-Defined Bins)
bins=[0,12,18,35,60,100]
labels=['child' ,'teenage' ,'young adult' ,'Adult' ,'Senior']
df['CustomBin']=pd.cut(df['Age'],bins=bins,labels=labels)

#Clustering-Based Binning(K-Means)
from sklearn.cluster import KMeans
age_array=np.array(df["Age"]).reshape(-1,1)
kmeans=KMeans(n_clusters=5,random_state=42, n_init=10) # Added n_init for KMeans

df["ClusterBin"]=kmeans.fit_predict(age_array)
print(df)

   Age EqualWidth_Bin EqualFrequency_Bin    CustomBin  ClusterBin
0    5   (4.92, 21.0]      (4.999, 16.0]        child           4
1   12   (4.92, 21.0]      (4.999, 16.0]        child           4
2   17   (4.92, 21.0]       (16.0, 31.6]      teenage           0
3   25   (21.0, 37.0]       (16.0, 31.6]  young adult           0
4   36   (21.0, 37.0]       (31.6, 50.6]        Adult           2
5   45   (37.0, 53.0]       (31.6, 50.6]        Adult           2
6   59   (53.0, 69.0]       (50.6, 64.6]        Adult           1
7   62   (53.0, 69.0]       (50.6, 64.6]       Senior           1
8   75   (69.0, 85.0]       (64.6, 85.0]       Senior           3
9   85   (69.0, 85.0]       (64.6, 85.0]       Senior           3

***DESCRIPTION:***
*   Equal-Width Binning (Fixed Interval Binning): Divides the range of the data into a fixed number of bins of equal size.

*  Equal-Frequency Binning (Quantile Binning): Divides the data such that each bin contains approximately the same number of observations.


*  Custom Binning (User-Defined Bins): Allows you to define the boundaries of each bin based on specific criteria or domain knowledge.


*   Clustering-Based Binning (K-Means): Uses a clustering algorithm (like K-Means) to group data points into bins based on their similarity.

#Example-4

***Q.***

Create the following dataframe.Replace "Age" column NaN value by column mean.Replace "City" column NaN value by "Unknown".Replace "Age" column NaN value by column median,mode,standard deviation.

**1. Create dataframe.**

In [ ]:
import pandas as pd
import numpy as np
data={'Name':['Alice',' Bob',' Charlie',' David','Eve'],
      'Age':['25','NaN','30','NaN','22'],
      'City':['NY','LA',np.nan,'SF',np.nan]}
df=pd.DataFrame(data,columns=["Name","Age","City"])
# Convert 'Age' column to numeric, coercing errors to NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

print("Original DataFrame:")
print(df)

Original DataFrame:
       Name   Age City
0     Alice  25.0   NY
1       Bob   NaN   LA
2   Charlie  30.0  NaN
3     David   NaN   SF
4       Eve  22.0  NaN

**2. Replace NaN in 'Age' column by "Column Mean."**

In [ ]:
df["Age"]=df["Age"].fillna(df["Age"].mean())
print("\nDataFrame after replacing Age NaN with Mean:")
print(df)

DataFrame after replacing Age NaN with Mean:
       Name        Age City
0     Alice  25.000000   NY
1       Bob  25.666667   LA
2   Charlie  30.000000  NaN
3     David  25.666667   SF
4       Eve  22.000000  NaN

**3. Replace NaN in 'City' column with 'Unknown'.**

In [ ]:
df["City"]=df["City"].fillna("Unknown")
print("\nDataFrame after replacing City NaN with Unknown:")
print(df)

DataFrame after replacing City NaN with Unknown:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

**4. Replace "Age" column NaN value by "Column Median,Mode,Standard Deviation".**

In [ ]:
# Replace NaN in 'Age' column by column median
df["Age"]=df["Age"].fillna(df["Age"].median())
print("\nDataFrame after replacing Age NaN with Median:")
print(df)

# Replace NaN in 'Age' column by column mode
df["Age"]=df["Age"].fillna(df["Age"].mode()[0])
print("\nDataFrame after replacing Age NaN with Mode:")
print(df)

# Replace NaN in 'Age' column by column standard deviation (Note: This is not a typical imputation method)
df["Age"]=df["Age"].fillna(df["Age"].std())
print("\nDataFrame after replacing Age NaN with Standard Deviation:")
print(df)

DataFrame after replacing Age NaN with Median:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

DataFrame after replacing Age NaN with Mode:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

DataFrame after replacing Age NaN with Standard Deviation:
       Name        Age     City
0     Alice  25.000000       NY
1       Bob  25.666667       LA
2   Charlie  30.000000  Unknown
3     David  25.666667       SF
4       Eve  22.000000  Unknown

***DESCRIPTION:***


*   It demonstrates different techniques for handling missing values in a DataFrame, specifically replacing them with the mean, median, mode, standard deviation, or a custom value like 'Unknown'.